.contain{
    width:100%;
    height: 100%;
    min-width:1200px;
    overflow: hidden;
}
body{
    background: rgb(244, 244, 244);
}
input,button{
    outline: none;
}
a{
    text-decoration: none;
}
header{
    width:100%;
    height:150px;
    min-width:1200px;
    margin:0 auto;
    background: rgb(255, 255, 255);
    /* background: yellowgreen; */
    border-bottom: 1px solid #ddd;
    box-shadow:0 0 8px #ddd;
    -webkit-box-shadow:0 0 8px #ddd;
    -moz-box-shadow:0 0 8px #ddd;
}
.h-1,.h-2,.h-3{
    width:1200px;
    margin:0 auto;
}
.h-1{
    /* background: royalblue; */
    height:30px;
}
.h-1 ul{
    position: relative;
    left:19.9%;
}
.h-1 li{
    display: inline-block;
    text-align: center;
    height:20px;
    line-height:20px;
    margin-top:8px;
    padding:2px;
    cursor:pointer;
    font-size:14px;
    user-select:none;
}
.h-1 .one{
    color:white;
    background: rgb(255,106,0);
}
.h-2{
    height:70px;
    /* background: skyblue; */
}
.h-2 .h-icon {
    display: inline-block;
    vertical-align:top;
    height:40px;
    line-height: 40px;
    width:120px;
    background:url('https://img.alicdn.com/tfs/TB1Ly5oS3HqK1RjSZFPXXcwapXa-238-54.png') no-repeat left;
    background-size:118px 25px;
}
.lang-change{
    display:inline-block;
    vertical-align:top;
    height:20px;
    width:50px;
    margin-top:10px;
}
.h-2 p{
    border:1px solid #ddd;
    height: 20px;
    line-height: 20px;
    width:50px;
    font-size:12px;
    text-align: center;
    color:rgb(175, 172, 172);
    cursor: pointer;
}
.h-lang{
    display:none;
    position:relative;
    z-index: 5;
    width:274px;
    font-size: 12px;
    padding:5px;
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow:0 0 8px #ddd;
    -webkit-box-shadow:0 0 8px #ddd;
    -moz-box-shadow:0 0 8px #ddd;
}
.h-lang td{
    padding:5px 10px;
    cursor: pointer;
    color:rgb(175, 172, 172);
    transition: color 0.3s ease-in-out;
}
.h-lang td:hover{
    color:rgb(255,106,0);
}
.lang-change:hover .h-lang{
    display: block;
}
.h-2 .int{
    width:480px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left:5%;
    /* background: cornflowerblue; */
}
.int input{
    height:32px;
    border:2px solid rgb(255,106,0);
    width:367px;
    box-sizing: content-box;
    padding-left:5px;
}
.int button{
    height:38px;
    background: rgb(255,106,0);
    color:white;
    border:none;
    width:70px;
    margin-left:-5px;
    vertical-align: top;
    cursor: pointer;
}
.int i{
    display: inline-block;
    position: absolute;
    width:32px;
    height:32px;
    background: url('C:/Users/Administrator/Desktop/forth/images/搜索放大镜(grey).png') no-repeat center;
    background-size: 60% 60%;
}
.int div .int-1{
    padding-left:32px;
    width:340px;
}
.int li{
    display: inline-block;
    color:rgb(175, 172, 172);
    border-right:1px solid #ddd;
    padding-right:2px;
    font-size: 13px;
    cursor: pointer;
    transition: color 0.4 ease-in-out;
}
.int li:hover{
    color:rgb(255,106,0);
}
.show{
    display:block;
}
.hidden{
    display: none;
}
.function{
    height:40px;
    width:450px;
    /* background: cadetblue; */
    display: inline-block;
    vertical-align:top;
    position: relative;
    left:7%;
    font-size: 15px;
}
.function a:nth-child(1){
    padding-left:20px;
    background: url('C:/Users/Administrator/Desktop/forth/images/购物车(grey).png') no-repeat left;
    background-size:20px 20px;
}
.function a{
    height:40px;
    line-height:40px;
    color: black;
    margin-right:20px;
    transition: color 0.3s ease-in-out;
}
.function a:hover{
    color:rgb(255,106,0);
}
.enroll{
    height:36px;
    line-height: 40px;
    background: rgb(255,106,0);
    color:white;
    text-align: center;
    width:120px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border:none;
}
.h-3{
    height:50px;
    line-height: 50px;
    /* background: cadetblue; */
}
.h-3 ul li{
    color: black;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
    margin-right:20px;
}
.h-3 ul li a{
    transition: color 0.3s ease-in-out;
}
.h-3 ul li a:hover{
    color:rgb(255,106,0);
}
.h-3 i{
    display: inline-block;
    vertical-align: top;
    width:200px;
    height:50px;
    margin-left:8%;
    background: url('https://gw.alicdn.com/tfs/TB1_pyOmxz1gK0jSZSgXXavwpXa-360-100.gif') no-repeat center;
    background-size:200px 48px ;
}
.submenu{
    display:none;
    width: 1200px;
    /* height:calc(100% - 150px); */
    border:1px solid #ddd;
    background: white;
    z-index:5;
    position: absolute;
    box-shadow:0 0 8px #ddd;
    -webkit-box-shadow:0 0 8px #ddd;
    -moz-box-shadow:0 0 8px #ddd;
    text-align: left;
    overflow: auto;
}
.submenu div{
    display: inline-block;
    vertical-align: top;
    width:18%;
    margin-left:1%;
}
.submenu div a{
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
}
.submenu .sub-top{
    border-bottom: 1px solid #eee;
    color:#ff6a00;
    font-weight: bold;
    height: 40px;
    line-height: 40px;;
    font-size: 16px;
    margin:5px 0;
}
.submenu .sub-top:hover{
    background: white;
}
.submenu a:hover{
    color:rgb(255,106,0);
    background: rgba(238, 238, 238, 0.733);
}
.h-3 .lihover .submenu{
    display:block;
}
#sec{
    width:1200px;
    margin:0 auto;
    height:100%;
    /* background: rgba(212, 210, 210, 0.212); */
    padding-top:20px;
}
#sec nav{
    /* display: inline-block;
    vertical-align: top; */
    float: left;
}
#sec .leftmenue{
    box-sizing:border-box ;
    width:240px;
    border: 1px solid #ddd;
    background: white;
    position: relative;
}
.leftmenue .l-title{
    width:100%;
    height:30px;
    background: #ff6a00;
    color: white;
    text-align: center;
    line-height: 30px;
}
.leftmenue>li{
    max-width:100%;
    height:60px;
    /* border-bottom: 1px solid #ddd; */
    z-index: 3;
    padding:15px 16px 0;
    text-align: left;
    color:#181818;
    font-size: 15px;
}
.leftmenue>li:hover{
    border:1px solid #ddd;
    box-shadow: 0 0 8px #ddd;
}
.leftmenue>li:hover>a{
    color: #ff6a00;
}
.leftmenue>li:hover b{
    border:none;
}
.leftmenue>li b{
    font-weight: normal;
    display: block;
    font-size: 13px;
    color:#999;
    padding:11px 0;
    border-bottom: 1px solid #ddd;
    height: 17px;
}
.leftmenue>li b a{
    border-right:1px solid #ddd;
    padding-right:3px;
}
.leftmenue>li b a:last-child{
    border:none;
}
.leftmenue>li b a:hover{
    cursor: pointer;
    color:#ff6a00;
}
.leftmenue .l-footer{
    width:100%;
    height:40px;
    color: #ff6a00;
    text-align: center;
    line-height: 40px;
}
.leftmenue .l-footer:hover{
    background: #ff6a00;
    color:white;
    cursor: pointer;
}
.l-submenu{
    display:none;
    position: absolute;
    left:240px;
    top:0;
    z-index: 5;
    background: white;
    height:642px;
    width:660px;
    padding:30px 20px 0;
    border: 1px solid #ddd;
    box-shadow:0 0 8px #ddd;
    -webkit-box-shadow:0 0 8px #ddd;
    -moz-box-shadow:0 0 8px #ddd;
    overflow: hidden;
}
.leftmenue li:hover .l-submenu{
    display:block;
}
.leftmenue span{
    display: none;
    position: relative;
    float:right;
    top:-15px;
    right:-20px;
    background: white;
    z-index:20;
    width:20px;
    height:75px;
}
.leftmenue li:hover .shield{
    display: inline-block;
}
.l-submenu .leftdiv{
    float: left;
    width:434px;
    height: 100%;
    /* background: #f3670318; */
}
.l-submenu .rightdiv{
    float:right;
    width: 205px;
    height: 100%;
    /* background: rgba(238, 130, 238, 0.13); */
}
.l-submenu h3{
    font-size: 15px;
    color: #181818;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.l-submenu ul li{
    padding-bottom: 5px;
}
.l-submenu ul li:hover{
    color: #ff6a00;
    cursor: pointer;
}
.l-submenu ul{
    display: inline-block;
    vertical-align: top;
    width:45%;
    color: #999;
    font-size: 14px;
}
.l-submenu .rightdiv div{
    border: 1px solid #ddd;
    width:150px;
    height:18%;
    margin-bottom: 10px;
    color:#999;
    padding:15px;
    position: relative;
}
.l-submenu .rightdiv div:hover{
    border:1px solid #ff6a00;
    cursor: pointer;
}
.l-submenu .rightdiv div a{
    color: #ff6a00;
}
.l-submenu .rightdiv div img{
    height:60px;
    width: 60px;
    position: absolute;
    right:0;
    bottom: 0;
}
.c-img{
    display: inline-block;
    vertical-align: top;
    margin-left:20px;
    margin-top:1px;
    position: relative;
    overflow: hidden;
    width:910px;
    height:330px;
}
.c-img #img-list{
    width:6370px;
    height:330px;
    position: absolute;
    z-index:2;
}
#img-list>img{
    width:910px;
    height: 330px;
    float:left;
}
#buttons{
    position: absolute;
    width:90%;
    height:30px;
    /* background: rgba(100, 148, 237, 0.705); */
    bottom: 9%;
    left:40px;
    z-index: 3;
}
.c-img div span{
    display: inline-block;
    height:5px;
    width:30px;
    background: #b5b5b533;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
#buttons span:hover{
    background: #ff6a00;
}
#buttons .on{
    background:#ff6a00 ;
}
.arrow{
    height:80px;
    width:40px;
    display:none;
    background: rgba(173, 216, 230, 0.432);
    position: absolute;
    z-index: 3;
    top:40%;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    font-size: 30px;
    user-select:none;
}
#a-left{
    left:0;
    border-radius: 0 50% 50% 0;
}
#a-right{
    right:0;
    border-radius:50% 0 0 50%;
}
.c-img:hover .arrow{
    display: block;
}
#sec .ad{
    display: inline-block;
    vertical-align: middle;
    background: white;
    margin-left:20px;
    margin-top:20px;
    padding:20px 0; 
}
.ad>div{
    display: inline-block;
    vertical-align: middle;
    width:177px;
    text-align: center;
    height: 230px;
    border-right: 1px solid #eee;
    padding:24px;
    cursor: pointer;
}
.ad>div:last-child{
    border: none;
}
.ad>div p{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top:20px;
}
.ad>div:hover p{
    color: #ff6a00;
}
.ad>div span{
    color: #999;
    font-size: 14px;
}
.ad>div img{
    width:80px;
    height:80px;
    margin-top:20px;
}
#sec .login{
    display: inline-block;
    vertical-align: middle;
    background: white;
    height:320px;
    margin-top: 20px;
    margin-left:20px;
    width:200px;
    text-align: center;
    font-size: 14px;
}
.login img{
    width:40px;
    height:40px;
    margin-top:30%;
    margin-bottom: 10px;
}
.login button{
    width: 40%;
    height:35px;
    margin:35px 0;
    cursor: pointer;
}
.login button{
    background: #ff6a00;
    color: white;
    border: 1px solid #ff6a00;
}
.login button:hover{
    background: white;
    color: #ff6a00;
}
.login-button{
    height:50px;
    line-height: 50px;
    cursor: pointer;
}
.login-button:hover a{
    color: #ff6a00;
}
.sec-2{
    width:100%;
    height: 100%;   
}
.sec-2>h2{
    height:30px;
    width: 100%;
    margin:20px 0;
    font-weight: 400;
}
.two-left{
    width:240px;
    height: 540px;
    background:url('https://img.alicdn.com/tfs/TB16MVDloT1gK0jSZFrXXcNCXXa-600-1200.jpg') no-repeat center;
    background-size:300px 600px;
    color:white;
    padding: 30px;
    /* display: inline-block;
    vertical-align: top; */
    float: left;
}
.two-left>p{
    font-size: 18px;
    font-weight:700;
    margin: 5px 0;
}
.two-left>span{
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
}
.two-left>button{
    background: transparent;
    color: white;
    border: 1px solid white;
    padding:10px;
    margin-top:20%;
}
.two-left>button:hover{
    background: white;
    color:black;
    cursor: pointer;
}
.two-right{
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    width:900px;
    height:600px;
    overflow: hidden;
}
.two-right>div{
    box-sizing: border-box;
    height:200px;
    width:290px;
    background: white;
    display: inline-block;
    border: 1px solid #ddd;
    font-size:14px;
    padding: 20px;
    position: relative;
}
.two-right>div:hover{
    box-shadow: 0 0 8px #ddd;
}
.two-right div>b{
    display: inline-block;
    border: 1px solid #ddd;
    font-weight: 400;
    border-radius: 3px;
    padding:2px;
}
.two-right div>b:first-child{
    color: white;
    background: #ea3a3a;;
    border: #ea3a3a;;
}
.two-right div>div>span{
    color: #999;
}
.two-right div .price{
    position: absolute;
    bottom: 20px;
}
.two-right div>p span{
    display: inline-block;
    color:#ff6a00;
    font-size: 18px;
    
}
.r-button{
    border:1px solid #ff6a00;
    height:50px;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    background: white;
    left: 0;
    width: 285px;
    display: none;
}
.r-button span{
    float: left;
    text-align: center;
    color:#ff6a00!important;
    height: 100%;
    width: 50%;
    cursor: pointer;
}
.r-button span:last-child{
    background: #ff6a00;
    color: white!important;
}
.two-right>div:hover .r-button{
    display: block;
}
#topback{
    position: fixed;
    right:20px;
    bottom:15%;
    width:40px;
    height:40px;
    background:white url('C:/Users/Administrator/Desktop/forth/images/topback(organce).png') no-repeat center;
    background-size: 30px 30px;
    cursor: pointer;
}
footer{
    width:100%;
    height:100px;
    background: rgba(24, 24, 24, 0.637);
    color:white;
    line-height: 100px;
    text-align: center;
    margin-top:30px;
}
